@charset "UTF-8";
.navbar {
  height: 200px;
  background-color: white;
  overflow: hidden;
  border: solid red;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 32px;
}

.navbar .logo {
  width: 10%;
  display: flex;
  align-items: center;
  color: black;
  margin-left: 50px;
  /*border: solid red;*/
}

.colorLetter {
  color: #2DBAEF;
}

.navbar ul {
  /*border: solid black;*/
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  /*border: solid blue;*/
  display: flex;
  align-items: center;
  /*flex*/
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  border-top: solid 3px;
  color: rgb(104, 64, 12);
}

.formulaireNoneCreer {
  /*display: none;*/
  width: 85%;
  position: absolute;
  top: 130px;
  z-index: 1;
}

.formulaireContainerCreer {
  display: flex;
  justify-content: flex-end;
}

.formulaireContenerFinalCreer {
  width: 25%;
  padding: 20px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.66);
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
}

.containerbuttonCreer {
  text-align: end;
}

.closeButtonCreer {
  font-size: 32px;
  background-color: rgb(234, 234, 234);
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #888;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  /*border: solid #2DBAEF;*/
  border: none;
}

textarea {
  height: 150px; /*Hauteur plus grande pour le champ de message */
  border: solid blue;
}

.submitButtonCreer {
  background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
}

.submitButton[type=submit]:hover {
  background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}

/* gestion des styles des alerts des champs*/
.prenomErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.nomErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.emailErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.passwordUserErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

/*body {
    margin: 0;
    font-family: Arial, sans-serif;


}*/
/* conteneur affichage d'images*/
/*parent*/
main {
  border: solid blue;
  height: 1600px;
  background-color: rgb(234, 234, 234);
}

/*enfant1*/
.containervoisPlus {
  border: solid rgb(60, 129, 46);
  height: 493px;
  display: flex;
}

/*enfant2*/
.voisPlus {
  border: solid rgb(142, 19, 19);
  height: 190px;
  width: 70%;
  margin: auto;
  margin-top: 290px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

/*solution informatique*/
.h2Center {
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-size: 32px;
}

.pCenter {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 20px;
}

.block1 {
  display: flex;
  flex-direction: column;
  border: solid rgb(3, 3, 3);
  width: 300px;
  height: 185px;
  font-size: 20px;
  font-weight: bold;
}

.block2 {
  display: flex;
  flex-direction: column;
  border: solid rgb(3, 3, 3);
  width: 300px;
  height: 185px;
  font-size: 20px;
  font: bold;
}

.paraph1 {
  margin-left: 10px;
}

.paraph2 {
  margin-left: 50px;
}

.section-info {
  border: solid rgb(0, 0, 0);
  height: 1000px;
  background-color: white;
}

.colorLetterHtag {
  color: red;
}

.entreprise {
  height: 300px;
}

.Partons {
  background-color: rgb(234, 234, 234);
  height: 300px;
  display: flex;
  flex-direction: column;
}

.pCenterViv {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.notreVision {
  height: 300px;
  display: flex;
  justify-content: center;
}

.pCenterGris {
  color: rgb(146, 141, 141);
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.conteneur-image {
  border: solid rgb(125, 32, 161);
  display: flex;
  margin-right: 200px;
  width: 200px;
  height: 200px;
  margin-top: 60px;
}

.secVide {
  background-color: white;
  border: solid 1px rgb(0, 0, 0);
  height: 93px;
  margin-top: 0px;
}

.taille {
  display: flex;
  justify-content: space-between;
}

.contenaireMenu {
  /*border: solid red;*/
  display: flex;
  align-items: center;
}

.boutonContact {
  border: solid 2px;
  height: 50px;
  border-radius: 5px;
}

/*formulaire*/
.formulaireNone {
  /*display: none;*/
  width: 100%;
  position: absolute;
  top: 130px;
  z-index: 1;
  /*border: solid yellow;*/
}

.formulaireContenerFinal {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.formulaireContact {
  /*display: none;*/
  width: 270px;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.close-button {
  font-size: 32px;
  position: relative;
  right: -240px;
  background-color: rgb(234, 234, 234);
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  /*border: solid #2DBAEF;*/
  border: none;
}

textarea {
  height: 150px; /*Hauteur plus grande pour le champ de message */
  border: solid blue;
}

input[type=submit] {
  background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
}

input[type=submit]:hover {
  background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}

/* gestion des styles des alerts des champs*/
.prenomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.nomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.emailErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.messageErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: solid rgb(179, 44, 157);
  height: 170px;
  background-color: #2DBAEF;
}

.entreprise {
  height: 300px;
}

.Partons {
  background-color: rgb(234, 234, 234);
  height: 300px;
  display: flex;
  flex-direction: column;
}

.pCenterViv {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.notreVision {
  height: 300px;
  display: flex;
  justify-content: center;
}

.pCenterGris {
  color: rgb(146, 141, 141);
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.conteneur-image {
  border: solid rgb(125, 32, 161);
  display: flex;
  margin-right: 200px;
  width: 200px;
  height: 200px;
  margin-top: 60px;
}

.secVide {
  background-color: white;
  border: solid 1px rgb(0, 0, 0);
  height: 93px;
  margin-top: 0px;
}

.taille {
  display: flex;
  justify-content: space-between;
}

.memeAdresse {
  font-size: 20px;
  font: bold;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.memeTout {
  display: flex;
  font-size: 20px;
  font: bold;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.icon {
  border: solid 1px rgb(119, 17, 17);
  height: 70px;
  width: 70px;
  margin-top: 50px;
}

.footer-section {
  justify-content: space-between;
  display: flex;
  border: solid rgb(45, 172, 107);
  width: 350px;
  height: 165px;
  margin-left: 80px;
  margin-right: 80px;
}

.blog {
  border: solid red;
  display: flex;
  justify-content: space-between;
  height: 700px;
  margin-top: 140px;
  /*margin-right: 500px;*/
}

.publication {
  border: solid rgb(34, 16, 16);
  display: flex;
  height: 697px;
  margin-top: 0px;
  width: 75%;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(213, 213, 213);
  height: 400px;
  width: 30%;
  margin-top: 170px;
  margin-left: 30px;
  color: #2DBAEF;
  border-radius: 10px;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(113, 129, 234);
  display: flex;
  width: 25%;
}

.barREcherche {
  display: flex;
  top: 0px;
  height: 40px;
  margin-top: 5%;
  border: solid 2px hsl(0, 9%, 60%);
  width: 90%;
}

.search-input {
  height: 40px;
  margin-top: 0px;
  /*border: solid 1px #888;*/
}

.puce {
  display: flex;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin-left: -160px;
  border: solid rgb(115, 115, 176);
}

.category-title {
  margin-right: 110px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  color: #2DBAEF;
  font-weight: bold;
  list-style-type: none;
}

.h1articles {
  font-size: xx-large;
  margin-left: 30px;
}

/*formulaire connexion*/
.formulaireNoneConnexion {
  /*display: none;*/
  width: 96%;
  position: absolute;
  top: 150px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.formulaireNoneConnexion .containerLogin {
  width: 22%;
  border: solid 0;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
}
.formulaireNoneConnexion .Loginformulaire .closeButtonContainer {
  text-align: end;
}
.formulaireNoneConnexion .Loginformulaire .closeButtonConex {
  width: 10%;
  font-size: 32px;
  border: none;
  background-color: rgb(234, 234, 234);
  color: red;
  cursor: pointer;
}
.formulaireNoneConnexion .Loginformulaire p {
  display: none;
  text-align: start;
  color: red;
}
.formulaireNoneConnexion .Loginformulaire input {
  height: 50px;
}
.formulaireNoneConnexion .authentificationEchoue {
  color: red;
  display: none;
}
.formulaireNoneConnexion .submitButtonLogin {
  background-color: #ff8c00;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
.formulaireNoneConnexion .emailConexErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNoneConnexion .passeErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

/*
.closeButtonConex {
    font-size: 32px;
    position: relative;
    right: -260px;
    background-color: rgb(234, 234, 234);
    color: red;
    border: none;
    padding: 5px;
    cursor: pointer;

}

h2 {
    text-align: center;
}

p {
    text-align: center;

}

label {
    display: block;
    margin-top: 10px;
    color: #888;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;

    border: none;
}

textarea {
    height: 150px;  
    border: solid blue;

}

.submitButton[type="submit"] {
    background-color: #ff8c00; 
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 150px;

}

.submitButton[type="submit"]:hover {
    background-color: #e07b00; 
}


*/
/* gestion des styles des alerts des champs*/
/* Formulaire */
.formulaireNone {
  /* display: none; */ /* Commenté pour être visible, à décommenter si nécessaire */
  width: 77%;
  position: absolute;
  top: 139px;
  z-index: 1;
}
.formulaireNone .contenerContact {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* Gestion des styles des alertes des champs */
}
.formulaireNone .contenerContact .formulaireContenerContact {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.66);
  padding: 20px;
}
.formulaireNone .contenerContact .formulaireContactItem {
  /* display: none; */ /* Commenté pour être visible, à décommenter si nécessaire */
  border-radius: 10px;
}
.formulaireNone .contenerContact .containercloseButton {
  text-align: end;
}
.formulaireNone .contenerContact .closeButtonContact {
  font-size: 32px;
  background-color: rgb(234, 234, 234);
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.formulaireNone .contenerContact h2 {
  text-align: center;
}
.formulaireNone .contenerContact label {
  display: block;
  margin-top: 10px;
  color: #888;
}
.formulaireNone .contenerContact input,
.formulaireNone .contenerContact textarea {
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  /* border: solid #2DBAEF; */
  border: none;
}
.formulaireNone .contenerContact textarea {
  height: 150px; /* Hauteur plus grande pour le champ de message */
}
.formulaireNone .contenerContact input[type=submit]:hover {
  background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}
.formulaireNone .contenerContact .prenomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .nomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .emailErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .messageErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .submitButtonContact {
  width: 40%;
  background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

/*# sourceMappingURL=index.css.map */
