@charset "UTF-8";
.navbar {
  height: 200px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 32px;
}

.navbar .logo {
  width: 10%;
  display: flex;
  align-items: center;
  color: black;
  margin-left: 50px;
  /*border: solid red;*/
}

.colorLetter {
  color: #2DBAEF;
}

.navbar ul {
  /*border: solid black;*/
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  /*border: solid blue;*/
  display: flex;
  align-items: center;
  /*flex*/
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  border-top: solid 3px;
  color: rgb(104, 64, 12);
}

.formulaireNoneCreer {
  /*display: none;*/
  width: 85%;
  position: absolute;
  top: 130px;
  z-index: 1;
}

.formulaireContainerCreer {
  display: flex;
  justify-content: flex-end;
}

.formulaireContenerFinalCreer {
  width: 25%;
  padding: 20px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.66);
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
}

.containerbuttonCreer {
  text-align: end;
}

.closeButtonCreer {
  font-size: 32px;
  background-color: rgb(234, 234, 234);
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #888;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  /*border: solid #2DBAEF;*/
  border: none;
}

textarea {
  height: 150px; /*Hauteur plus grande pour le champ de message */
  border: solid blue;
}

.submitButtonCreer {
  background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
}

.submitButton[type=submit]:hover {
  background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}

/* gestion des styles des alerts des champs*/
.prenomErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.nomErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.emailErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.passwordUserErreurCreer {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

/*body {
    margin: 0;
    font-family: Arial, sans-serif;


}*/
/* conteneur affichage d'images*/
/*parent*/
main {
  height: 1600px;
  background-color: rgb(234, 234, 234);
}

/*enfant1*/
.containervoisPlus {
  height: 493px;
  display: flex;
}

/*enfant2*/
.voisPlus {
  height: 190px;
  width: 70%;
  margin: auto;
  margin-top: 290px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

/*solution informatique*/
.h2Center {
  text-align: center;
  margin-top: 80px;
  font-weight: bold;
  font-size: 32px;
}

.pCenter {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 20px;
}

.block1 {
  display: flex;
  flex-direction: column;
  border: solid rgb(3, 3, 3);
  width: 300px;
  height: 185px;
  font-size: 20px;
  font-weight: bold;
}

.block2 {
  display: flex;
  flex-direction: column;
  border: solid rgb(3, 3, 3);
  width: 300px;
  height: 185px;
  font-size: 20px;
  font: bold;
}

.paraph1 {
  margin-left: 10px;
}

.paraph2 {
  margin-left: 50px;
}

.section-info {
  border: solid rgb(0, 0, 0);
  height: 1000px;
  background-color: white;
}

.colorLetterHtag {
  color: red;
}

.entreprise {
  height: 300px;
}

.Partons {
  background-color: rgb(234, 234, 234);
  height: 300px;
  display: flex;
  flex-direction: column;
}

.pCenterViv {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.notreVision {
  height: 300px;
  display: flex;
  justify-content: center;
}

.pCenterGris {
  color: rgb(146, 141, 141);
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.conteneur-image {
  border: solid rgb(125, 32, 161);
  display: flex;
  margin-right: 200px;
  width: 200px;
  height: 200px;
  margin-top: 60px;
}

.secVide {
  background-color: white;
  border: solid 1px rgb(0, 0, 0);
  height: 93px;
  margin-top: 0px;
}

.taille {
  display: flex;
  justify-content: space-between;
}

.contenaireMenu {
  /*border: solid red;*/
  display: flex;
  align-items: center;
}

.boutonContact {
  border: solid 2px;
  height: 50px;
  border-radius: 5px;
}

/*formulaire*/
.formulaireNone {
  /*display: none;*/
  width: 100%;
  position: absolute;
  top: 130px;
  z-index: 1;
  /*border: solid yellow;*/
}

.formulaireContenerFinal {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.formulaireContact {
  /*display: none;*/
  width: 270px;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.close-button {
  font-size: 32px;
  position: relative;
  right: -240px;
  background-color: rgb(234, 234, 234);
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  /*border: solid #2DBAEF;*/
  border: none;
}

textarea {
  height: 150px; /*Hauteur plus grande pour le champ de message */
  border: solid blue;
}

input[type=submit] {
  background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
}

input[type=submit]:hover {
  background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}

/* gestion des styles des alerts des champs*/
.prenomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.nomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.emailErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.messageErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 170px;
  background-color: #2DBAEF;
}

.entreprise {
  height: 300px;
}

.Partons {
  background-color: rgb(234, 234, 234);
  height: 300px;
  display: flex;
  flex-direction: column;
}

.pCenterViv {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.notreVision {
  height: 300px;
  display: flex;
  justify-content: center;
}

.pCenterGris {
  color: rgb(146, 141, 141);
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.conteneur-image {
  border: solid rgb(125, 32, 161);
  display: flex;
  margin-right: 200px;
  width: 200px;
  height: 200px;
  margin-top: 60px;
}

.secVide {
  background-color: white;
  border: solid 1px rgb(0, 0, 0);
  height: 93px;
  margin-top: 0px;
}

.taille {
  display: flex;
  justify-content: space-between;
}

.memeAdresse {
  font-size: 20px;
  font: bold;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.memeTout {
  display: flex;
  font-size: 20px;
  font: bold;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.icon {
  border: solid 1px rgb(119, 17, 17);
  height: 70px;
  width: 70px;
  margin-top: 50px;
}

.footer-section {
  justify-content: space-between;
  display: flex;
  width: 350px;
  height: 165px;
  margin-left: 80px;
  margin-right: 80px;
}

.popopNotification {
  width: 20%;
  height: 45px;
  display: flex;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: green;
  border-radius: 5px;
  border: solid 1px black;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.44);
  position: absolute;
  top: -15px;
  right: 20px;
}

.blog {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px gray;
}
.blog .containerComponentBlog {
  width: 100%;
}
.blog .recherche {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: solid 1px gray;
}
.blog .containerIcon {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .containerIcon .iconAdmItem {
  color: #2DBAEF;
  font-size: 30px;
  cursor: pointer;
}
.blog .barREcherche {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: solid 2px hsl(0, 9%, 60%);
}
.blog .barREcherche .loupBoutton {
  width: 10%;
  background-color: white;
  border: none;
}
.blog .barREcherche .loupBoutton i {
  color: #2DBAEF;
  font-size: 30px;
}
.blog .barREcherche .searchBar {
  width: 60%;
  height: 40px;
}
.blog .barREcherche .search-button {
  width: 25%;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.blog .barREcherche .search-button i {
  color: #2DBAEF;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.blog .categories {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.blog .categories .categories-list {
  display: flex;
  flex-direction: column;
  color: #2DBAEF;
  font-weight: bold;
  list-style-type: none;
  padding-left: 0px;
}
.blog .categories .categories-list .category-item {
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

/******** style du composant Blog*/
.blogBloc .h1articlesBloc {
  font-size: xx-large;
  margin-left: 30px;
}
.blogBloc .publicationBloc {
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.blogBloc .publicationBloc .articleBloc {
  height: 400px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(213, 213, 213);
  margin-bottom: 80px;
  color: #2DBAEF;
  border-radius: 10px;
  background-color: white;
  transition: box-shadow 0.5s ease, color 0.9s ease, background-color 0.5s ease, border 0.7s ease;
  transition: transform 0.4s ease-in-out;
}
.blogBloc .publicationBloc .articleBloc:hover {
  background-color: #2DBAEF;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  color: white;
  border: none;
  cursor: pointer;
}

.containerGetOneArticle {
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: solid 1px black;
}

.containerDeleteUpdate {
  width: 50%;
  margin: auto;
}

/******** style de la partie supérieure de GetOneArticle*/
/*formulaire connexion*/
.formulaireNoneConnexion {
  /*display: none;*/
  width: 96%;
  position: absolute;
  top: 150px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.formulaireNoneConnexion .containerLogin {
  width: 22%;
  border: solid 0;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
}
.formulaireNoneConnexion .Loginformulaire .closeButtonContainer {
  text-align: end;
}
.formulaireNoneConnexion .Loginformulaire .closeButtonConex {
  width: 10%;
  font-size: 32px;
  border: none;
  background-color: rgb(234, 234, 234);
  color: red;
  cursor: pointer;
}
.formulaireNoneConnexion .Loginformulaire p {
  display: none;
  text-align: start;
  color: red;
}
.formulaireNoneConnexion .Loginformulaire input {
  height: 50px;
}
.formulaireNoneConnexion .authentificationEchoue {
  color: red;
  display: none;
}
.formulaireNoneConnexion .submitButtonLogin {
  background-color: #ff8c00;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
.formulaireNoneConnexion .emailConexErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNoneConnexion .passeErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

/*
.closeButtonConex {
    font-size: 32px;
    position: relative;
    right: -260px;
    background-color: rgb(234, 234, 234);
    color: red;
    border: none;
    padding: 5px;
    cursor: pointer;

}

h2 {
    text-align: center;
}

p {
    text-align: center;

}

label {
    display: block;
    margin-top: 10px;
    color: #888;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;

    border: none;
}

textarea {
    height: 150px;  
    border: solid blue;

}

.submitButton[type="submit"] {
    background-color: #ff8c00; 
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 150px;

}

.submitButton[type="submit"]:hover {
    background-color: #e07b00; 
}


*/
/* gestion des styles des alerts des champs*/
/* Formulaire */
.formulaireNone {
  /* display: none; */ /* Commenté pour être visible, à décommenter si nécessaire */
  width: 77%;
  position: absolute;
  top: 139px;
  z-index: 1;
}
.formulaireNone .contenerContact {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* Gestion des styles des alertes des champs */
}
.formulaireNone .contenerContact .formulaireContenerContact {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.66);
  padding: 20px;
}
.formulaireNone .contenerContact .formulaireContactItem {
  /* display: none; */ /* Commenté pour être visible, à décommenter si nécessaire */
  border-radius: 10px;
}
.formulaireNone .contenerContact .containercloseButton {
  text-align: end;
}
.formulaireNone .contenerContact .closeButtonContact {
  font-size: 32px;
  background-color: rgb(234, 234, 234);
  color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.formulaireNone .contenerContact h2 {
  text-align: center;
}
.formulaireNone .contenerContact label {
  display: block;
  margin-top: 10px;
  color: #888;
}
.formulaireNone .contenerContact input,
.formulaireNone .contenerContact textarea {
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  /* border: solid #2DBAEF; */
  border: none;
}
.formulaireNone .contenerContact textarea {
  height: 150px; /* Hauteur plus grande pour le champ de message */
}
.formulaireNone .contenerContact input[type=submit]:hover {
  background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}
.formulaireNone .contenerContact .prenomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .nomErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .emailErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .messageErreur {
  color: red;
  font-size: 10px;
  font-weight: bold;
  display: none;
}
.formulaireNone .contenerContact .submitButtonContact {
  width: 40%;
  background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.AddOnArticle {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
.AddOnArticle .containerCreateArticle {
  width: 60%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  border: solid 1px gray;
  border-radius: 10px;
}
.AddOnArticle .titlePageArticle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
}
.AddOnArticle .articleForm label {
  color: black;
  font-weight: bold;
  /*input, textarea:focus{

      opacity: 1;

  }*/
  /* select:focus{

       opacity: 1;

   }*/
}
.AddOnArticle .articleForm label input, .AddOnArticle .articleForm label textarea {
  width: 100%;
  /* opacity: 0.5;
   transition: opacity 0.5s ease-in-out;*/
  border: solid 1px gray;
}
.AddOnArticle .articleForm label select {
  width: 100%;
  /* opacity: 0.5;
   transition: opacity 0.5s ease-in-out;*/
  border: solid 1px gray;
}
.AddOnArticle .articleForm .labelCategory {
  display: flex;
  flex-direction: column;
}
.AddOnArticle .articleForm .labelCategory .selectCreateArticle {
  width: 25%;
  height: 50px;
  border-radius: 5px;
  border: solid 1px gray;
}
.AddOnArticle .articleForm .labelDate {
  display: flex;
  flex-direction: column;
}
.AddOnArticle .articleForm .labelDate .date {
  width: 20%;
  border: solid 1px gray;
}
.AddOnArticle .articleForm .containerBtnValidArticle {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.AddOnArticle .articleForm .containerBtnValidArticle .btnArticle {
  width: 40%;
  height: 40px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.AddOnArticle .articleForm .containerBtnValidArticle .btnCancelArticle {
  background-color: rgb(173, 172, 172);
}

.containerDelete {
  width: 50%;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.44);
}

.DeleteOneArticle {
  width: 100%;
  height: 100%;
}
.DeleteOneArticle .confirmDeleteTitle {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}
.DeleteOneArticle .cotainerConfirmDeleteBtn {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.DeleteOneArticle .cotainerConfirmDeleteBtn .confirmDeleteButton {
  width: 40%;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.DeleteOneArticle .cotainerConfirmDeleteBtn .cancelDeleteBtn {
  background-color: gray;
}

/*.UpdateOneArticle{

    width: 100%;
    border: solid orange;



}*/
.AdminLayout {
  width: 100%;
  position: absolute;
  z-index: 0;
}

/*# sourceMappingURL=index.css.map */
