.formulaireNoneCreer{
    /*display: none;*/
   
width: 85%;
position: absolute;
top: 130px;
z-index: 1;
//border: solid yellow;
    
}

.formulaireContainerCreer{

    display: flex;
    justify-content: flex-end;
   
   // border: solid red;
}

.formulaireContenerFinalCreer{
    
    width: 25%;
    padding: 20px;
    
    box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.66);
    background-color:rgb(234, 234, 234);
    border-radius: 10px;
    //border: solid blue;
}
.containerbuttonCreer {
   text-align: end;
    //border: solid red;
      
}

.closeButtonCreer {
    font-size: 32px;
    //position: relative;
    //right: -240px;
    background-color: rgb(234, 234, 234);
    color: red;
    border: none;
    padding: 5px;
    cursor: pointer;
}

h2 {
    text-align: center;
}

p {
    text-align: center;

}

label {
    display: block;
    margin-top: 10px;
    color: #888;
}

input,
textarea {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    /*border: solid #2DBAEF;*/
    border: none;
}

textarea {
    height: 150px;  /*Hauteur plus grande pour le champ de message */
    border: solid blue;

}

.submitButtonCreer {
    background-color: #ff8c00; /* Couleur orange pour le bouton envoyer */
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 150px;

}

.submitButton[type="submit"]:hover {
    background-color: #e07b00; /* Couleur orange légèrement plus foncée au survol */
}


/* gestion des styles des alerts des champs*/

.prenomErreurCreer {
color: red;
font-size: 10px;
font-weight: bold;
display: none;
}

.nomErreurCreer {
    color: red;
    font-size: 10px;
    font-weight: bold;
    display: none;
    }


.emailErreurCreer {
    color: red;
    font-size: 10px;
    font-weight: bold;
    display: none;
}
        
.passwordUserErreurCreer {
    color: red;
    font-size: 10px;
    font-weight: bold;
    display: none;
}