


.popopNotification{

    width: 20%;
    height: 45px;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    border-radius: 10px;
    border: solid 1px black;
    font-weight: bold;
    font-size: 18px; 
    box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.44);
    position: absolute;
    top: -15px;
    right: 20px;
}

.blog {
     
    display: flex;
    justify-content: space-between;
   // border-top: solid 1px gray;

   //////////////////////////////
    //margin-top: 200px;
   //////////////////////////////

   // border: solid blue;
    

    .containerComponentBlog{

        width: 100%;
    }

    .recherche {

        width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-left: solid 1px gray;
       // border: solid rgb(113, 129, 234);
      
        
    }
    
    .containerIcon{

        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        //border: solid rgb(113, 129, 234);

        .iconAdmItem{
            color: #2DBAEF;
            font-size: 30px;
            cursor: pointer;
        }
    }
    
    .barREcherche{

        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        margin-top: 20px;
      
        border: solid 1px hsl(0, 9%, 60%);

        .loupBoutton{

            width: 10%;
            background-color: white;
            border: none;
            i{
                color: #2DBAEF;
                font-size: 30px;
            }
        }
        .searchBar{
            width: 60%;
            height: 40px;
            //border: solid red;
          
        }

        .search-button{

            width: 25%;
            height: 40px;
            text-align: end;
            background-color: white;
            border: none;
            border-radius: 5px;
           // border: solid red;

            i{
               
                color: #2DBAEF;
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
            }
        }
       
    }
    
    
    //style de la section des catégories
    .categories{
    
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
       // border: solid yellow; 

        
        .categories-list{

            width: 100%;
            display: flex;
            flex-direction: column;
            color: #2DBAEF;
            font-weight: bold;
            list-style-type: none;  
            padding-left: 0px;
            //border: solid 1px black;

            .category-item{
             
                width: 90%;
                height: 40px;
                display: flex;
                align-items: center;
                
                border-radius: 5px;
                cursor: pointer;
                font-size: 23px;
                transition: color 1s ease,  background-color 0.5s ease, font-size 0.5s ease, transform 0.3s ease;

               // border: solid red;
            }

            .category-item:hover{
             
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                background-color: #2DBAEF;
                color: white;
                box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.44);
                cursor: pointer;

                transform: translateX(30px);
                //translate:  0.5s ease-in-out;
               
            }

           

        }
    }
    
}
     
    
    
   
    
    
    /******** style du composant Blog*/

    .blogBloc{

      
           
           
       
        // display: flex;
        // justify-content: space-between;
        //border-top: solid 1px;
       
       //border: solid red;

        
        .h1articlesBloc{
            font-size: xx-large;
            margin-left: 30px;
            //border: solid red;
        }

        .publicationBloc {
            
            width: 97%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-top: 50px;
            flex-wrap: wrap;
           // border: solid yellow;
    
            
            .articleBloc{

                font-family: "Kanit", sans-serif;
                height: 600px;
                width: 47%;
                padding: 0px;
                margin-bottom: 80px;
                border: none;
                background-color: white;
                border-radius: 10px;
                border: solid 2px rgb(213, 213, 213);
               
                //border: solid red;

                .containerArticle{

                    width: 100%;
                    height: 80%;
                    border-radius: 10px;
                    border-radius: 10px 10px 0px 0px;
                    cursor: pointer;
                    transition: background-color 0.5s ease, border 0.7s ease;
                    
                }

                .containerArticle:hover{
                    box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.44);
                    //border: solid 2px #2DBAEF;
                    
                }

                .containerArticleContent{

                    width: 100%;
                    height: 20%;
                    padding: 0px;
                    display: flex;
                    justify-content: space-between;
                    border-top: solid 2px rgb(213, 213, 213);
                    
                    .containerArticleContentDetails{

                        width: 72%;
                        height: 100%;
                        padding: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-right: solid 1px rgb(213, 213, 213);

                        h2{
                            font-size: 23px;
                         
                            width: 400px; /* Définissez la largeur maximale souhaitée pour votre conteneur */
                            white-space: nowrap; /* Empêche le texte de se retourner */
                            overflow: hidden; /* Cache le texte dépassant de la limite */
                            text-overflow: ellipsis; /* Remplace le texte dépassant par des points de suspension */
                        }
                        p{
                            font-size: 18px;
                            width: 400px; /* Définissez la largeur maximale souhaitée pour votre conteneur */
                            white-space: nowrap; /* Empêche le texte de se retourner */
                            overflow: hidden; /* Cache le texte dépassant de la limite */
                            text-overflow: ellipsis; /* Remplace le texte dépassant par des points de suspension */
                        }

                        .descriptionItem{

                            text-align: start;
                            margin: 5px;
                           // border: solid red;
                        }
                    }

                    .containerArticleActions{

                        width: 28%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                       // border: solid blue;

                        span{
                           
                            width: 33%;
                            font-size: 40px;
                            color: #2DBAEF;
                            cursor: pointer;

                           
                           
                        }
                        .numberlikeArticle{
                                
                            font-size: 23px;
                            
                        }

                        //gestion des likes et dislikes
                        .likeArticleBloc{
                                
                            position: relative;
                          
                            .dislike{

                                position: absolute;
                                top: 50%;
                                left: 50%;
                                opacity: 1;
                                transform: translate(-50%, -50%);
                                transition: opacity 0.6s ease, transform 0.6s ease;
    
                            }
                            .like{

                                font-size: 0px;
                                position: absolute;
                                cursor: pointer;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                transition: opacity 0.6s ease, transform 0.6s ease, font-size 0.6s ease;
                                
                            }

                            .animatelike{
                               
                               opacity: 1;
                               font-size: 40px;
                              // tran
                            }
                            .animatedislike{
                               
                                opacity: 0;
                                font-size: 0px;
                               // tran
                             }
                        }
                        
                    }
                    
                   
                }

            }
            
            

            

            
        }

    }

    .containerGetOneArticle{

        width: 50%;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        border: solid 1px black;

    }

    .containerDeleteUpdate{

        width: 50%;
        margin: auto;
       
    }
    

    /******** style de la partie supérieure de GetOneArticle*/

    