.blog {
    border: solid red;
    display: flex;
    justify-content: space-between;
    height: 700px;
    margin-top: 140px;
    /*margin-right: 500px;*/
    }
        
    .publication {
        border: solid rgb(34, 16, 16);
        display: flex;
        height: 697px;
        margin-top: 0px;
        width: 75%;
        }
      
    .article{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px rgb(213, 213, 213);
        height: 400px;
        width: 30%;
        margin-top: 170px;
        margin-left: 30px;
        color: #2DBAEF;
        border-radius: 10px;
    }
    
    
    
    .recherche {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid rgb(113, 129, 234);
        display: flex;
        width: 25%;
        }
    
       
    
    .barREcherche{
        display: flex;
        top: 0px;
        height: 40px;
        margin-top: 5%;
        border: solid 2px hsl(0, 9%, 60%);
        width: 90%;
    }
    
    .search-input{
        height: 40px;
        margin-top: 0px;
        /*border: solid 1px #888;*/
    }
    
    .puce{
        display: flex;
    
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 200px;
        margin-left: -160px;
        border: solid rgb(115, 115, 176); 
    }
    
    .category-title {
        margin-right: 110px;
    
    }
    
    .categories-list{
        display: flex;
        flex-direction: column;
        color: #2DBAEF;
        font-weight: bold;
        list-style-type: none;  
    }
    
    .h1articles{
        font-size: xx-large;
        margin-left: 30px;
    }