


.popopNotification{

    width: 20%;
    height: 45px;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    border-radius: 10px;
    border: solid 1px black;
    font-weight: bold;
    font-size: 18px; 
    box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.44);
    position: absolute;
    top: -15px;
    right: 20px;
}

.blog {
     
    display: flex;
    justify-content: space-between;
    border-top: solid 1px gray;
    
   // border: solid blue;

    .containerComponentBlog{

        width: 100%;
    }

    .recherche {

        width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-left: solid 1px gray;
       // border: solid rgb(113, 129, 234);
      
        
    }
    
    .containerIcon{

        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        //border: solid rgb(113, 129, 234);

        .iconAdmItem{
            color: #2DBAEF;
            font-size: 30px;
            cursor: pointer;
        }
    }
    
    .barREcherche{

        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;

      
        border: solid 1px hsl(0, 9%, 60%);

        .loupBoutton{

            width: 10%;
            background-color: white;
            border: none;
            i{
                color: #2DBAEF;
                font-size: 30px;
            }
        }
        .searchBar{
            width: 60%;
            height: 40px;
            //border: solid red;
          
        }

        .search-button{

            width: 25%;
            height: 40px;
            text-align: end;
            background-color: white;
            border: none;
            border-radius: 5px;
           // border: solid red;

            i{
               
                color: #2DBAEF;
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
            }
        }
       
    }
    
    
    //style de la section des catégories
    .categories{
    
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
       // border: solid yellow; 

        
        .categories-list{

            display: flex;
            flex-direction: column;
            color: #2DBAEF;
            font-weight: bold;
            list-style-type: none;  
            padding-left: 0px;

            .category-item{
                margin-top: 10px;
                cursor: pointer;
                transition: color 0.5s ease;
            }

        }
    }
    
}
     
    
    
   
    
    
    /******** style du composant Blog*/

    .blogBloc{

        
        // display: flex;
        // justify-content: space-between;
        //border-top: solid 1px;
       
       //border: solid red;

        
        .h1articlesBloc{
            font-size: xx-large;
            margin-left: 30px;
            //border: solid red;
        }

        .publicationBloc {
            
            width: 97%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            margin-top: 50px;
            //////////////////////
            flex-wrap: wrap;

            //////////////////////
           // border: solid yellow;
    
            .containerArticle{

                width: 30%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                //border: solid red;
            }
            .articleBloc{
    
                height: 400px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: solid 1px rgb(213, 213, 213);
                //margin-left: 30px;
                //margin-top: 30px;
                margin-bottom: 80px;
                color: #2DBAEF;
                border-radius: 10px;
                background-color: rgb(233, 231, 231);
           
                transition: box-shadow 0.5s ease, color 0.9s ease, background-color 0.5s ease, border 0.7s ease;
                transition: transform 0.4s ease-in-out;

            }
            
            .articleBloc:hover{

                background-color: #2DBAEF;

                box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.3);
                //box-shadow: 4px 0px 14px 2px rgba(0,0,0,0.66);
                transform: scale(1.1);
                color: white;
                border: none;
                cursor: pointer;
            }
        }

    }

    .containerGetOneArticle{

        width: 50%;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        border: solid 1px black;

    }

    .containerDeleteUpdate{

        width: 50%;
        margin: auto;
       
    }
    

    /******** style de la partie supérieure de GetOneArticle*/

    